.fll{
    float: left;
}
.flr{
    float: right;
}
.clearfix{
    &::after{
        content:"";
        display: block;
        clear: both;
        overflow: hidden;
    }
}
.ml-200{
    margin-left: 200px;
}
*{
    padding: 0;margin: 0;
}

.main-content .el-card{
    min-height: calc(100vh - 160px);
}